 {% extends 'index.html' %}
 {% block body %}
  <br>
<iframe src="http://18.219.63.233:30352/d-solo/oWe9aYxmk/1-kubernetes-deployment-statefulset-daemonset-metrics?orgId=1&refresh=30s&var-Deployment=All&var-Statefulset=All&var-Daemonset=All&var-Node=All&panelId=1" width="500" height="200" frameborder="0" marginwidth="10"></iframe>
<iframe src="http://18.219.63.233:30352/d-solo/oWe9aYxmk/1-kubernetes-deployment-statefulset-daemonset-metrics?orgId=1&refresh=30s&var-Deployment=All&var-Statefulset=All&var-Daemonset=All&var-Node=All&panelId=2" width="500" height="200" frameborder="0" marginwidth="5"></iframe>
<iframe src="http://18.219.63.233:30352/d-solo/oWe9aYxmk/1-kubernetes-deployment-statefulset-daemonset-metrics?orgId=1&refresh=30s&var-Deployment=All&var-Statefulset=All&var-Daemonset=All&var-Node=All&panelId=10" width="1024" height="200" frameborder="0" marginwidth="5"></iframe>
<iframe src="http://18.219.63.233:30352/d-solo/oWe9aYxmk/1-kubernetes-deployment-statefulset-daemonset-metrics?orgId=1&refresh=30s&var-Deployment=All&var-Statefulset=All&var-Daemonset=All&var-Node=All&panelId=11" width="1024" height="200" frameborder="0" marginwidth="5"></iframe>
{% endblock %}
