{% extends 'index.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/button_toggle.css' %}">
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}
{% block body %}
<div class="container">
<div class="containLller-fluid">
        <!-- Page Heading -->
<a href="#" type="button" class="btn btn-primary btn-icon-split" data-toggle="modal" data-target="#createJob" onclick="resetFields()">
    <span class="icon text-white-50">
        <i class="fas fa-plus "></i>
    </span>
    <span class="text">Criar</span>
</a>

<a href="#" class="btn btn-info btn-icon-split" onclick="showOutputJenkins()">
    <span class="icon text-white-50">
        <i class="fas fa-info-circle"></i>
    </span>
    <span class="text">Ultimo Log</span>
</a>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Lista de Projetos</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dtDeployments" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th style="width:9%;">Produto</th>
                    <th style="width:7%">Image TAG</th>
                    <th style="width:5%;">Nome instância</th>
                    <th style="width:13%;">CNPJ</th>
                    <th style="width:14%;">Razão Social</th>
                    <th style="width:20%;">Endereço URL</th>
                    <th style="width:11%;">Status</th>   
                    <th style="width:23%;">Ações</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    </div>
</div>

{% include 'containers/modal_pods.html' %}
{% include 'containers/modal-build.html' %}
{% include 'containers/modal-create.html' %}
{% include 'containers/modal-update.html' %}
{% include 'containers/modal_log.html' %}
{% include 'containers/modal-log-build.html' %}

{% endblock %}

{% block scripts %}
    <script src="{% static 'js/list_containers.js' %}"></script>
    <script src="{% static 'js/jquery.serializejson.min.js' %}"></script>
    <script src="{% static 'js/log.js' %}"></script>
{% endblock %}