{% load bootstrap %}
<div class="modal fade" id="updateJob" tabindex="-1" role="dialog" aria-labelledby="updateJobLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateJobLabel">Atualizar Instância</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

              <form id="updatebuild">
                  <div class="form-group">
                    <label>Produto</label>
                    <select class="form-control" name="productu" id="productu" disabled>
                      {% for product in products %}
                        <option value="{{ product.id }}">{{ product.product }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Image Tag</label>
                    <select class="form-control" name="image_tagu" id="image_tagu" disabled>
                      {% for image in images %}
                        <option value="{{ image.id }}">{{ image.image_tag }}</option>
                      {% endfor %}
                    </select>
                  </div>

                  {{ formJob|bootstrap }}

                  <div class="form-group">
                    <label>Modelo de Banco de Dados</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="typedb" id="typedbuDEMO" value="demo">
                    <label class="form-check-label" for="typedbuDEMO">Demo</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="typedb" id="typedbuPROD" value="prod">
                    <label class="form-check-label" for="typedbuPROD">Produção</label>
                  </div>

                  <div class="modal-footer">
                    <button class="btn btn-primary button">Atualizar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                  </div>
              </form>
            </div>
        </div>
    </div>
</div>