{% load bootstrap %}
<div class="modal fade" id="createJob" tabindex="-1" role="dialog" aria-labelledby="createJobLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createJobLabel">Criar Instância</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="createbuild">
                    <div class="form-group">
                        <label>Produto</label>
                        <select class="form-control" name="product" id="auto_fill_product">
                            <option value="None" selected="selected" >None</option>
                        {% for product in products %}
                            <option value="{{ product.id }}">{{ product.product }}</option>
                        {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="auto_fill_image">Image Tag</label>
                        <select class="form-control" id="images" name="images">
                            <option value="None" selected="selected">None</option>
                            <input id="id_image_tagu" name="image_tag" type="hidden" value="">
                        </select>
                    </div>
                {{ formJob|bootstrap }}

                <div class="form-group">
                 <label>Modelo de Banco de Dados</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="typedb" id="typedbDEMO" value="demo">
                    <label class="form-check-label" for="typedbDEMO">Demo</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="typedb" id="typedbPROD" value="prod">
                    <label class="form-check-label" for="typedbPROD">Produção</label>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-primary button">Construir</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
              </form>
            </div>
        </div>
    </div>
</div>