{% load static %}
<div class="modal fade" id="modallistpods" tabindex="-1" role="dialog" aria-labelledby="modallistpodsLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="modallistpodsLabel"> List Pods</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h1>Modal pods</h1>
                        <!-- DataTales Example -->
    <div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Deployments</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Name Space</th>
                    <th>Image</th>
                    <th>IP</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Name</th>
                    <th>Name Space</th>
                    <th>Image</th>
                    <th>IP</th>
                </tr>
                </tfoot>
                <tbody>
                {% for pod in pods %}
                <tr>
                    <td>{{ pod.metadata.name }}</td>
                    <td>{{ pod.metadata.namespace }}</td>
                    <td>{{ pod.status.container_statuses.0.image }}</td>
                    <td>{{ pod.status.pod_ip }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    </div>
            </div>
        </div>
    </div>
</div>
