{% extends 'index.html' %}
{% load static %}
{% load bootstrap %}
{% block head %}
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}
{% block  body %}

<div class="container">
<div class="containLller-fluid">
        <!-- Page Heading -->
<a href="#" type="button" class="btn btn-primary btn-icon-split" data-toggle="modal" onclick="resetFields()" data-target="#registerimage">
    <span class="icon text-white-50">
        <i class="fas fa-plus "></i>
    </span>
    <span class="text">Adicionar</span>
</a>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Lista de Imagens</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <input id="imageId" name="imageId" type="hidden" >
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                  <th>Produto</th>
                  <th>TAG</th>
                  <th>Nome</th>
                  <th>Ações</th>
                </tr>
                </thead>
                <tbody>
                {% for image in images %}
                <tr>
                  <td>{{ image.product_name }}</td>
                  <td>{{ image.image_tag }}</td>
                  <td>{{ image.image_name }}</td>
                  <td class="acoes" style="padding-left: 15px;">
                      <div class="row">
                        <form id="rm-image-{{ image.id }}">
                            <input name="image" value="{{ image.id }}" type="hidden">
                            <input name="image_tag" value="{{ image.image_tag }}" type="hidden">
                            <input name="product" value="{{ image.product_name }}" type="hidden">
                            <button class="btn2" id="rm-image-btn"><i class="fa fa-trash"></i></button>
                        </form>
                        <button class="btn2" id="" data-toggle="modal" data-target="#registerimage" onclick="setValuesFields('{{ image.id }}', '{{ image.product }}', '{{ image.url_image }}', '{{ image.image_name }}', '{{ image.image_tag }}', '{{ image.id_mod_bd_prd }}', '{{ image.id_mod_bd_demo }}')"><i class="fa fa-edit"></i></button>
                    </div>
                  </td>
                      
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </div>
</div>



{% block scripts %}
    <script src="{% static 'js/images.js' %}"></script>
    <script src="{% static 'js/log.js' %}"></script>
{% endblock %}
{% include 'images/createOrEdit.html' %}

{% endblock %}